<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         cacheResultFile=".phpunit.result.cache"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Bixbox OrderSplit Unit Tests">
            <directory>app/code/Bixbox/OrderSplit/Test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
