<?xml version="1.0"?>
<!-- ACL rule so admin users with the right permission can edit the config. -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Bixbox_PaymentWebhook::config"
                          title="Bixbox Payment Webhook Configuration"
                          sortOrder="70"/>
            </resource>
        </resources>
    </acl>
</config>
