<?xml version="1.0"?>
<!--
    Exposes the module configuration in Stores > Configuration > Bixbox > Order Split.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bixbox" translate="label" sortOrder="200">
            <label>Bixbox</label>
        </tab>
        <section id="bixbox_ordersplit" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Split</label>
            <tab>bixbox</tab>
            <resource>Bixbox_OrderSplit::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Order Splitting</label>
                    <comment>Master switch. When disabled, orders are placed as a single order.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="display" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Page Display</label>
                <field id="on_product_view" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show on Product Detail Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="on_product_list" translate="label" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show on Product List Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="split" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Split Criteria</label>
                <comment>Which attributes should an order be split by.</comment>
                <field id="by_category" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Split by Catalog Category</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="by_vendor" translate="label" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Split by Vendor</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="by_warehouse" translate="label" sortOrder="30" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Split by Warehouse Area</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
